# Modelo de configuração - Renomeie para .env e preencha os valores
SECRET_KEY=sua_chave_secreta_aqui
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Segurança (Mude para True em produção)
SECURE_SSL_REDIRECT=False